body {
   font-size: 24px;
   font-family: serif;
   background: black;
}

h1 {
   color: #f2f2f2;
   background-color: #1a1a1a;
   font-family: "Times New Roman";
   text-transform: capitalizez;
   font-size: 40px;
   text-align: left;
   margin: 25px;
   padding: 45px;
   
}

h2 {
   color: #f2f2f2;
   background-color:#333333;
   font-family: "Times New Roman";
   font-size: 28px;
   text-transform: capitalizez;
   text-align: left;
   margin: 28px;
   padding: 38px;
  
}

p {
   color:  #ffffff;
   font-size: 22px;
   font-weight: normal;
   font-style: normal;
   text-transform: capitalizez;
   letter-spacing: 0.1em;
   word-spacing: 0.1em;
   line-height: 1.5;
   text-align: left;
}

a {
   text-decoration: underline;
   color: white;
   text-transform: capitalizez;
   text-align:center;
   font-size: 22px;
}
