body {
   font-size: 20px;
   font-family: serif;
   background-image: url("https://www.thisiscolossal.com/wp-content/uploads/2018/04/agif1opt.gif") ;
}

h1 {
   color: #f2f2f2;
   background-image: url("https://www.thisiscolossal.com/wp-content/uploads/2018/04/agif1opt.gif");
   font-family: "Times New Roman";
   text-transform: capitalizez;
   text-align: left;
   margin: 20px;
   padding: 40px;
   
}

h2 {
   color: #f2f2f2;
   background-image:url("https://i.pinimg.com/originals/d6/68/ab/d668abc72809303852c27275e6a56775.gif");
   font-family: "Times New Roman";
   font-size: 35px;
   text-transform: capitalizez;
   text-align: left;
   margin: 20px;
   padding: 40px;
  
}

p {
   color:  #ffffff;
   font-size: 22px;
   font-weight: normal;
   font-style: normal;
   text-transform: capitalizez;
   letter-spacing: 0.1em;
   word-spacing: 0.1em;
   line-height: 1.5;
   text-align: left;
}

a {
   text-decoration: underline;
   color: white;
   text-transform: capitalizez;
   text-align:center;
   font-size: 22px;
}
